{% include 'play_header.html' %}
<body>


	<div class="container">
	{% include 'play_head_side.html' %}
	{% include 'play_side.html' %}
	<div class="col-md-8">
		<div>{{message}}</div>
		<form method="post" action="admin?type=loaddates"><br>Load Dates File: <textarea name="dates" rows="20"></textarea>
		<input type="submit" value="Submit Dates File"></form>
		<br><br>
		<form method="post" action="admin?type=loadweek">
			Load Week:
			<select name="weekselection">
				{% for x in range(17) %}
				<option value=1>Week {{x+1}}</option>
				{% endfor %}
			</select>
		<textarea name="week" rows="20"></textarea>
		<input type="submit" value="Submit Current Week File"></form>
	</div>
	</div>
</body>