{% include 'play_header.html' %}
<body>


	<div class="container">
	{% include 'play_head_side.html' %}
	{% include 'play_side.html' %}
	<div class="col-md-8">
		<div>{{message}}</div>
		
		<!-- Dates File -->
		<form method="post" action="admin?type=loaddates"><br>Load Dates File: <textarea name="dates" rows="20"></textarea>
		<input type="submit" value="Submit Dates File"></form>
		
		<!-- Weeks File -->
		<br><br>
		<form method="post" action="admin?type=loadweek">
			Load Week:
			<select name="weekselection">
				{% for x in range(17) %}
				<option value={{x+1}}>Week {{x+1}}</option>
				{% endfor %}
			</select>
		<textarea name="week" rows="20"></textarea>
		<input type="submit" value="Submit Current Week File"></form>
		<form method="post" action="admin?type=loadwinners">
			Load Winning picks:
			<select name="winner_weekselection">
				{% for x in range(17) %}
				<option value={{x+1}}>Week {{x+1}}</option>
				{% endfor %}
			</select>
		<textarea name="winners" rows="20"></textarea>
		<input type="submit" value="Submit Winning Picks"></form>
		
		<form method="POST" action="admin?type=newpost">
			Upload New Front Page Post
		<ul>
			<li>Title: <input type="text" name="title" size="40"></li>
			<li>BP Content File: <input type="file" name="datafile" size="40"></li>
			<li><input type="submit" name="submit" value="Upload"></li>
		</ul>
	</form>
		
		
	</div>
	</div>
</body>