<!DOCTYPE html>
<head>
	<title>Give it a try. Just the tip.</title>
</head>
{% include 'play_header.html' %}
<body>
<div class="container">
{% include 'play_head_side.html' %}
{% include 'play_side.html' %}
	<div class="col-md-8">
	<h2> Log in </h2>
	
	
	
		<form method="POST">
		<div class="form-group">
			<label for="name">User Name</label>
			<input type="text" class="form-control" name="username" placeholder="Enter name" id="name">
		</div>
		
		<div class="form-group">
			<label for="Password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
		</div>
		<div class="form-group">
			<input type='submit' value='Sign In'></input>
		</div>
			{{error}}
		</form>
	</div>
</div>


</body>