{% include 'play_header.html' %}
<script src="/js/jquery.js"></script>
<body>

<div class="container">
{% include 'play_head_side.html' %}
{% include 'play_side.html' %}
<div class="col-md-8">
<h4>These are the picks for week {{week}}, the cutoff date for picks is {{cutoff}} at 5:30pm AZ time.</h4>
{% if not user.settings %}
	<h4 style="color:red">If you would like to view picks as Favorite/Underdog instead of Home/Away, click the settings button on the top right to switch.</h4>
{% endif %}
{% if message %}
<h2> {{message}}.</h2>
{% endif %}
<form method="POST" action="/play/makepicks" class="picks">
	<!-- Game Table -->
	<table class="table">
	<thead>
		<th style="text-align:center">Home</th>
		<th style="text-align:center"><a href="#" 
			data-toggle="modal"
			data-target="#lineModal">		
		Line</th>
		<th style="text-align:center">Away</th>
	</thead>
	<tbody>
	{% for game in games %}
	<tr>
		<td class="game" id="g1">
		{% if game.line < 0 %}
		<b>
		{% endif %}
		{{game.home_team}}
		{% if game.line < 0 %}
		</b>
		{% endif %}
			<input type="radio" name={{loop.index}} value="{{game.home_team}}" class="lefttd" {% if game.home_team in picks %} checked {% endif %} {% if vo %}disabled {% endif %}>
		</td>
		<td class="line" style="text-align:center">{{game.line}}</td>
		<td class="game" id="g2">
		{% if game.line > 0 %}
		<b>
		{% endif %}
		{{game.away_team}}
		{% if game.line > 0 %}
		</b>
		{% endif %}
			<input type="radio" name={{loop.index}} value="{{game.away_team}}" class="righttd" {% if game.away_team in picks %} checked {% endif %} {% if vo %}disabled {% endif %}>
		</td>
		{% if game.special %}
		<td class="message">
			<span>{{game.special}}</span>
		</td>
		{% endif %}
	</tr>
	{% endfor %}
	<tr id="tablebutton">
		<td><input type="Submit" value="Submit Picks" id="submit" {% if vo %}disabled {% endif %}></td>
		<td name="MNS">Monday Night Score:</td>
		<td><input type="text" name="tiebreak" {% if picks %} value={{picks[-1]}} {% endif %} {% if vo %}disabled {% endif %} id="tiebreak"></td>
	</tr>
	</tbody>
	</table>
</form>
<div class="modal fade" id="lineModal" tabindex="-1" role="dialog" aria-labelledby="lineModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
            <h4 class="modal-title" id="myModalLabel">Odds Line</h4>
            </div>
            <div class="modal-body">
                <h3>The team in bold is the favorite</h3>
            </div>
    </div>
  </div>
</div>
</div>
</div>
</body>


