{% include 'play_header.html' %}
<body>

<div class="container">
{% include 'play_head_side.html' %}
{% include 'play_side.html' %}

<div class="col-md-8">

<h2> Results are in through week {{weeks}}! </h2>

<table class="table">
	<thead>
		<th>Player</th>
		{% for w in range(1,weeks+1) %}
		<th> wk {{w}}</th>
		{% endfor %}
	</thead>
	<tbody>
		{% for row in results %}
		<tr> <td>{{row[0].user_id}}</td>
			{% for wk_result in row %}
				{% if wk_result.winner == 1 %}
					<td class="winner"> {{wk_result.wins}} - {{wk_result.losses}} </td>
				{% else %}
					<td> {{wk_result.wins}} - {{wk_result.losses}} </td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
</body>