{% include 'play_header.html' %}
<body>
<div class="container">
	{% include 'play_head_side.html' %}
	{% include 'play_side.html' %}

	<div class="col-md-8">
		<div class="panel panel-default">
		<h2><span class="panel-heading">Gridiron Guessing Game</span></h2>
		<div class="panel-body">
		<p>Welcome back everyone to another exciting season of football pick em! For those of you who are new, welcome! Preseason is over and fantasy drafts have been conducted which means it is time to get to games that matter.</p>
		
		<p>For those you who have played before, the setup is going to be a bit more automated this year, but the rules are exactly the same. $5 weekly fee to fill out your picks and winner takes all each week. Also, $5 will be taken from the pot each week and and put into a pot for the person with the most wins at the end of the season. $85 in total.</p>
		
		<p>This website should be straightforward to use. The <a href="/play/picks">make picks</a> page will be used to select picks every week before Thursday's games. Picks must be made before the start of the game or you will be locked out for the week! You will get a reminder email to submit your picks and you will also get a confirmation email once your picks have been submitted. The <a href="/play/standings">standings</a> page shows the overall standings of the league to see how you are doing against the rest of the competition. Results page will allow you to go back and look at the results from any given week. Lastly, there is the <a href="/play/comments"> Talk Board</a> page. This is where I will be posting updates as well as a place to trash talk the rest interpretive, which I know some of you will enjoy. </p>
		
		<p>Good luck to everyone this season and let me know if you have any questions.</p>
		</div>
		</div>
	</div>

</div>

</body>