{% include 'play_header.html' %}
<body>

<div class="container">
{% include 'play_head_side.html' %}
{% include 'play_side.html' %}

<div class="col-md-8">
	<a href="/play/comments"> < back</a>
	<h2> {{thread.title}}</h2><br>
	<div>
		{% for post in posts %}
			<p>{{post.user.username}}: {{post.content}} at {{post.created|datetime}}</p>
		{% endfor %}
	</div>
	{% if user %}
	<form method="POST">
		<div class="form-group">
			<label for="post">New Post:</label>
			<textarea rows="10" type="text" class="form-control" id="post" placeholder="Enter Post" name="post"></textarea>
		</div>
		<div class="form-group">
			<input type='submit' value='Submit Post'></input>
		</div>
	</form>
	{% endif %}
	
	
</div>
</div>
</body>